<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body class="homepage">
    <%- include('../partials/navbar', {navbarElements: navbarElements}) %>

    <h1 class="headerTitle"><%= title %></h1>

    <div class="gamesGridContainer">
        <ul class="allGamesGrid">
            <% gamesData.map(game => { %>
              <li class="gamesGridList">
                <a href= /allGames/<%= game.id %> >
                  <p class="gameTextStyling name"><%= game.name%></p>
                  <p class="gameTextStyling price"><%= game.price == 0.00 ? 'Free' : `$${game.price}` %></p>
                  <div class="gameTextStyling categories"><% game.categories.map(category => { %>
                    <span class="categoryStyling"><%= category %></span>
                  <% }); %></div>
                </a>
              </li>
            <% }); %>
        </ul>
    </div>
  </body>
</html>